{% extends "base.html" %}
{% load bootstrap_filters %}

{% block content %}
<div class="container-fluid p-lg-5 no-gutte p-3">
  <h2 class="colortitle titlesuperior pb-2">{{ titulo }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row fontI pb-3">
      <div class="col-md-8 mb-3">
        <label class="form-label">Correo electrónico</label>
        {{ form.email|add_class:"form-control" }}
        {% for error in form.email.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Carnet de Identidad </label>
        {{ form.dni|add_class:"form-control" }}
        {% for error in form.dni.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      
      <div class="col-md-4 mb-3">
        <label class="form-label">Nombre</label>
        {{ form.nombre|add_class:"form-control" }}
        {% for error in form.nombre.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label">Apellido Paterno</label>
        {{ form.apellido|add_class:"form-control" }}
        {% for error in form.apellido.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label">Apellido Materno</label>
        {{ form.apellidoM|add_class:"form-control" }}
        {% for error in form.apellidoM.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Imagen del usuario</label>
        {{ form.imagen|add_class:"form-control" }}
        {% for error in form.imagen.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label">Telefono</label>
        {{ form.telefono|add_class:"form-control" }}
        {% for error in form.telefono.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label">Dirección</label>
        {{ form.direccion|add_class:"form-control" }}
        {% for error in form.direccion.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="row fontI pb-3">
      <div class="col-md-12 mb-3">
        <label class="form-label">Contraseña</label>
        {{ form.password1|add_class:"form-control" }}
        {% for error in form.password1.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="col-md-12 mb-3">
        <label class="form-label">Confirmar Contraseña</label>
        {{ form.password2|add_class:"form-control" }}
        {% for error in form.password2.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="row fontI pb-3">
       
      <div class="col-md-6 mb-3">
        <label class="form-label">Asignar caracteristica en el sistema</label>
        <div class="form-check form-switch">
          {{ form.is_active }}
          <label class="form-check-label">Activo</label>
        </div>
        <div class="form-check form-switch">
          {{ form.is_staff }}
          <label class="form-check-label">Es Staff</label>
        </div>
        <div class="form-check form-switch">
          {{ form.is_superuser }}
          <label class="form-check-label">Es Superusuario</label>
        </div>
      </div>

     

      <div class="mb-3 col-md-6 ">
        <label class="form-label">Asociar a un Grupo de Trabajo en el sistema </label>
        {{ form.groups }} {% for error in form.groups.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-4">
      <button type="submit" class="btn btn-dark">Guardar Datos</button>
      <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Cancelar registro</a>
    </div>
  </form>
</div>
{% endblock %}
