
/*haspectos de letras escalables*/
.titlesuperior{
  font-family: "Anton";
  font-size: 35px;
  color: var(--secondary);
}
.titlegeneral{
  font-family: "Anton";
  font-size: 25px;
  color: var(--dark);
}
.title{
  font-size: 25px;
}
.text{
  font-size: 21px;
}
.textrepo{
  font-size: 19px;
}
.estado{
  font-size: 16px;
}
.comentario{
  font-size: 14px;
}


.fontI{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.fontII{
  font-family: "Lora";
}
.colortitle{
  color: var(--secondary);
}
.colortext{
  color: rgb(0, 37, 49);
}
.colorestados{
  color: rgb(185, 107, 4);
}
.colorfechas{
  color: rgb(119, 118, 118);
}
.fecha{
  font-weight: 400;
  font-size: 19px;
}
.fechas{
  font-weight: 400;
  font-size: 14px;
}

/*espacio de usuarios */
.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.pagination-container {
  display: flex;
  justify-content: center; /* Centra el contenedor de paginación */
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center; /* Centra los elementos dentro del contenedor de paginación */
  align-items: center;
}

.step-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre botones */
}

.step-links button {
  background-color: #052b2d; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
}

.step-links button:hover {
  background-color: #09595c; /* Color de fondo al pasar el cursor */
}

/*grupos*/
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-group input:focus, .form-group select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
/* home css */
.watermark-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta según la altura de tu contenido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.watermark-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ajusta el tamaño según sea necesario */
  opacity: 0.1; /* Ajusta la opacidad para hacerla más o menos visible */
  pointer-events: none; /* Desactiva la interacción del puntero */
  -webkit-user-drag: none; /* Evita el arrastre en Safari */
  user-select: none; /* Evita la selección de la imagen */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
/* scrollbar */

:root {
  --primary: #eeb843;
  --secondary: #02081a;
  --light: #c4c4c4;
  --dark: #00293a;
}
#hh {
  color: #ff6a2f;
}
/* Estilo para el botón flotante */

#fixed-button {
  position: fixed;
  bottom: 100px;
  right: 43px;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 1px;
  height: 8px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: var(--dark);
  height: 300px;
}

/* Thumb del scrollbar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.font {
  font-family: "Anton";
}
.fontf {
  font-family: "Lora";
  color: #1c3b3f;
}
.fontsub {
  font-family: "Lora";
  color: #5f6c6e;
  font-size: 12px;
}
.subtext {
  font-size: 14px;
  font-family: "Lora";
  text-align: center;
}
.rounded-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.imgrepo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  background: #f0f0f0;
  box-shadow: 9px 9px 9px #a6a6a6, -9px -9px 9px #ffffff;
  border: 6px solid #ececec;
}
.rounded-img2 {
  background: #f0f0f0;
  box-shadow: 9px 9px 9px #a6a6a6, -9px -9px 9px #ffffff;
  border: 3px solid rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.fontfamili {
  font-family: "Lora";
}
.text-tareas {
  color: #c75818;
  font-size: 18px;
  background: #c2dfdf4f;
}

.img-close {
  width: 200px;
  height: 150px;
}

#fote {
  background: #b5b5b88e;
}

#hhh {
  font-family: "Anton";
  padding-left: 10px;
  background-color: transparent;
  color: #daa208;
  font-size: 16px;
}
#contt {
  background: #06022b;
}
#cont {
  background-color: #ebf8fa;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.bg-mdal {
  background-color: #eeeded;
}

#conttt {
  background-color: #ececec;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.list-group-item-action {
  font-weight: 100;
  font-size: 16px;
  color: #05262c;
  font-family: "Anton";
  font-style: normal;
  text-align: left;
  padding: 5px;
}

.contdoc {
  border-radius: 5px;
  background: #ebeaea;
  box-shadow: 6px 6px 5px #a7a6a6, -6px -6px 5px #ffffff;
}
.logo-reportes{
  height: 100%; 
  width: 100%;  
  object-fit: cover; 
  opacity: 70%; 

}
.contenedorcomentarios{
  height: 150px;
  overflow-y: auto; /* Esto permite el desplazamiento vertical */
  overflow-x: hidden; /* Esto oculta el desplazamiento horizontal si es necesario */
}
.centered-img {
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(-20%);
}
@media screen and (max-width: 768px) {
  .narrow-card {
    padding-top: 30px;
    background: #ececec;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  
  .centered-img {
    justify-content: center;
    align-items: center;

    transform: translateY(-25%);
    color: #01282c;
  }
}



@media screen and (max-width: 991px) {
  
  .logodashboard{
    display: none;
  }
 
}

.no-gutters {
  border-radius: 18px;
  background: #f0f0f0;
  box-shadow: 9px 9px 9px #a6a6a6, -9px -9px 9px #ffffff;
}

.no-gutte{
  border-radius: 18px;
  background: #f0f0f0;
  box-shadow: inset 19px 19px 23px #dddddd,
            inset -19px -19px 23px #ffffff;
}
.no-guttee{
  border-radius: 18px;
  background: #f0f0f0;
  box-shadow: inset 19px 19px 23px #dddddd,
            inset -19px -19px 23px #ffffff;
}

@media (max-width: 768px) {
  .fecha {
    white-space: pre-wrap; /* Para manejar el texto largo en dispositivos móviles */
  }
  .no-gutters {
    border-radius: 10px;
    background: #e4e4e4;
    box-shadow: none;
  }
  .no-gutte {
    border-radius:none;
    background:none;
    box-shadow: none;
  }
}

#aaat {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
  font-family: "Anton";
  font-style: normal;
}

.narrow-card {
  max-width: 900px; /* Establecer el ancho máximo del card */
  margin: 0 auto; /* Centrar el card horizontalmente */
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: #06022b;
  transition: 0.5s;
  z-index: 999;
}

.content {
  margin-left: 250px;
  min-height: 100vh;
  background: var(--dark);
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }

  .sidebar.open {
    margin-left: -250px;
  }

  .content {
    width: calc(100% - 250px);
  }

  .content.open {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.open {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}

.imgperfil {
  border-radius: 12px;
  width: 300px;
  height: 350px;
  border-radius: 18px;
  background: #f0f0f0;
  box-shadow: 9px 9px 9px #a6a6a6, -9px -9px 9px #ffffff;
}
.dark-link {
  color: #01050a !important; /* Bootstrap dark color */
}

.comentari-field {
  width: 100%;
  max-width: 800px;
  height: 80px; /* Altura fija */
  overflow: auto; /* Agregar barra de desplazamiento si el contenido es más grande que el contenedor */
  resize: vertical; /* Permitir redimensionar verticalmente */
  word-wrap: break-word; /* Permitir que las palabras largas se envuelvan automáticamente */
  border: 1px solid #fffdfc;
  color: #05262c;
  border-radius: 8px;
}
.contmsj{
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 767px) {
  .contmsj{
    padding-left: 5px;
    padding-right: 5px;
  }
  .imgperfil {
    width: 250px;
    height: 250px;
  }
  .comentari-field {
    width: 100%;
    min-width: 250px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}




/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--light);
  font-weight: 500;
  border-left: 3px solid var(--secondary);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  background: var(--dark);
  border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--secondary);
}
.sidebar .navbar {
  background-color: #042b3000;
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: 0.5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
  padding-left: 25px;
  border-radius: 0 30px 30px 0;
  color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--light);
  outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
  color: var(--primary);
}

.content .navbar .dropdown-item {
  color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
  background: var(--secondary);
  color: var(--primary);
}

.content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: 0.5s;
}

.content .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
    margin-left: 15px;
  }
}

/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  border-radius: 2px;
}


/*** Testimonial ***/
.progress .progress-bar {
  width: 0px;
  transition: 2s;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--primary);
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--dark);
  border-color: var(--primary);
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.table caption {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.table tr {
  background-color: #e4e9eb;
  border: 1px solid #b3c3d1;
}

.table th,
.table td {
  font-size: 15px;
  padding: 10px;
  text-align: center;
  font-family: 'Anton' sans-serif;
}

.table thead th {
  text-transform: uppercase;
  background-color: #010230;
  color: #ffbc40;
}



@media screen and (max-width: 600px) {
  .table {
    border: 0px;
  }
  .table caption {
    font-size: 22px;
  }
  .table thead {
    display: none;
  }
  .table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }
  .table th,
  .table td {
    font-size: 17px;
  }
  .table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }
  .table td:last-child {
    border-bottom: 0px;
  }
  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
  .btn {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 5px 10px; /* Espaciado interno más pequeño */
  }
  .btn svg {
    width: 16px; /* Ajustar tamaño del icono */
    height: 16px; /* Ajustar tamaño del icono */
  }
}
