{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-lg-5 no-gutte p-3">
    <h2 class=" colortitle titlesuperior pb-2">Lista de Certificados</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Curso</th>
                <th>Fecha de Emisión</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for certificado in certificados %}
            <tr>
                <td data-label="estudiante">{{ certificado.inscripcion.estudiante }}</td>
                <td data-label="titulo curso">{{ certificado.inscripcion.curso.titulo }}</td>
                <td data-label="fecha">{{ certificado.fecha_emision|date:"d M Y" }}</td>
                
                <td data-label="accion">
                    <a href="{% url 'ver_certificado' certificado.id %}" class="btn btn-sm btn-outline-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                        Ver Detalle
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay certificados aún.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
